In [1]:
# NYC 311 Data
# 311 Service Requests from 2010 to Present
# https://data.cityofnewyork.us/Social-Services/311-Service-Requests-from-2010-to-Present/erm2-nwe9

In [2]:
# import Dependencies
import pandas as pd
import numpy as np

In [3]:
# data
csv_path = "311_Service_Requests_from_2010_to_Present.csv"
nyc_311 = pd.read_csv(csv_path, encoding="utf-8")

/Users/djferrera/anaconda3/lib/python3.7/site-packages/IPython/core/interactiveshell.py:3049: DtypeWarning: Columns (8,17,20,31,32,33,34,35,36,37) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

In [4]:
# remove time from date column
nyc_311['Created Date'] = nyc_311['Created Date'].str[:10]
nyc_311.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Vehicle Type,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location
0,24662488,12/26/2012,01/21/2013 02:43:03 PM,DOT,Department of Transportation,Broken Muni Meter,No Receipt,Street,11226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.646518,-73.958105,"(40.646517764925505, -73.95810499625227)"
1,24662489,12/26/2012,12/26/2012 07:09:58 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10030,2660 8 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.820469,-73.943637,"(40.82046857723442, -73.94363749682614)"
2,24662491,12/26/2012,12/28/2012 09:49:15 AM,DOF,Senior Citizen Rent Increase Exemption Unit,SCRIE,SCRIE Assistance,Senior Address,10024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,24662492,12/26/2012,01/22/2013 01:34:25 PM,DOT,Department of Transportation,Broken Muni Meter,No Receipt,Street,11373,40-19 GLEANE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.747329,-73.881794,"(40.7473294392684, -73.88179392306972)"
4,24662494,12/27/2012,12/27/2012 12:54:02 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10475,2182 REEDS MILL LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,40.882083,-73.832101,"(40.88208311721509, -73.83210097091965)"

In [9]:
# actually, look at only year

nyc_311['Year'] = nyc_311['Created Date'].str[-4:]
nyc_311.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Year
0,24662488,12/26/2012,01/21/2013 02:43:03 PM,DOT,Department of Transportation,Broken Muni Meter,No Receipt,Street,11226,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.646518,-73.958105,"(40.646517764925505, -73.95810499625227)",2012
1,24662489,12/26/2012,12/26/2012 07:09:58 PM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10030,2660 8 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.820469,-73.943637,"(40.82046857723442, -73.94363749682614)",2012
2,24662491,12/26/2012,12/28/2012 09:49:15 AM,DOF,Senior Citizen Rent Increase Exemption Unit,SCRIE,SCRIE Assistance,Senior Address,10024,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2012
3,24662492,12/26/2012,01/22/2013 01:34:25 PM,DOT,Department of Transportation,Broken Muni Meter,No Receipt,Street,11373,40-19 GLEANE STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.747329,-73.881794,"(40.7473294392684, -73.88179392306972)",2012
4,24662494,12/27/2012,12/27/2012 12:54:02 AM,NYPD,New York City Police Department,Noise - Residential,Loud Music/Party,Residential Building/House,10475,2182 REEDS MILL LANE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.882083,-73.832101,"(40.88208311721509, -73.83210097091965)",2012

In [11]:
# narrow data down to only 2017
nyc_311_2017 = nyc_311.loc[nyc_311['Year'] == '2017']
nyc_311_2017.head()

,Unique Key,Created Date,Closed Date,Agency,Agency Name,Complaint Type,Descriptor,Location Type,Incident Zip,Incident Address,...,Taxi Company Borough,Taxi Pick Up Location,Bridge Highway Name,Bridge Highway Direction,Road Ramp,Bridge Highway Segment,Latitude,Longitude,Location,Year
119,35739137,03/19/2017,03/20/2017 04:20:27 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11421,76-12 88 AVENUE,...,NaN,NaN,NaN,NaN,NaN,NaN,40.689490,-73.864927,"(40.689489720046765, -73.86492715501885)",2017
256,35739138,03/20/2017,03/20/2017 07:01:24 AM,NYPD,New York City Police Department,Blocked Driveway,No Access,Street/Sidewalk,11214,7 BAY 49 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.589290,-73.984187,"(40.589289898451426, -73.98418672243861)",2017
279,35739142,03/18/2017,03/18/2017 05:08:08 PM,NYPD,New York City Police Department,Illegal Parking,Double Parked Blocking Traffic,Street/Sidewalk,10035,517 EAST 117 STREET,...,NaN,NaN,NaN,NaN,NaN,NaN,40.795634,-73.932408,"(40.795633766410916, -73.93240828404274)",2017
362,35739143,03/18/2017,03/19/2017 12:23:06 AM,NYPD,New York City Police Department,Illegal Parking,Double Parked Blocking Traffic,Street/Sidewalk,11368,100-16 NORTHERN BOULEVARD,...,NaN,NaN,NaN,NaN,NaN,NaN,40.757355,-73.868211,"(40.757354993999165, -73.86821140127493)",2017
615,35739144,03/19/2017,03/19/2017 04:51:29 PM,NYPD,New York City Police Department,Illegal Parking,Double Parked Blocking Traffic,Street/Sidewalk,11103,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,40.756679,-73.920865,"(40.7566785847184, -73.9208648571337)",2017

In [14]:
# check column names
nyc_311_2017.columns

Index(['Unique Key', 'Created Date', 'Closed Date', 'Agency', 'Agency Name',
       'Complaint Type', 'Descriptor', 'Location Type', 'Incident Zip',
       'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2',
       'Intersection Street 1', 'Intersection Street 2', 'Address Type',
       'City', 'Landmark', 'Facility Type', 'Status', 'Due Date',
       'Resolution Description', 'Resolution Action Updated Date',
       'Community Board', 'BBL', 'Borough', 'X Coordinate (State Plane)',
       'Y Coordinate (State Plane)', 'Open Data Channel Type',
       'Park Facility Name', 'Park Borough', 'Vehicle Type',
       'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name',
       'Bridge Highway Direction', 'Road Ramp', 'Bridge Highway Segment',
       'Latitude', 'Longitude', 'Location', 'Year'],
      dtype='object')

In [15]:
# narrow down data even further
nyc_311_2017_limit = nyc_311_2017.drop(['Unique Key', 'Closed Date', 'Agency Name', 'Location Type', 'Incident Address', 'Street Name', 'Cross Street 1', 'Cross Street 2', 'Intersection Street 1', 'Intersection Street 2', 'City','Landmark', 'Status', 'Due Date', 'Resolution Description', 'Resolution Action Updated Date', 'Community Board', 'BBL', 'X Coordinate (State Plane)', 'Y Coordinate (State Plane)', 'Open Data Channel Type', 'Park Facility Name', 'Taxi Company Borough', 'Taxi Pick Up Location', 'Bridge Highway Name', 'Road Ramp', 'Bridge Highway Direction', 'Latitude', 'Longitude', 'Location', 'Year'], axis=1)

In [ ]:
# remove a few more columns
nyc_311_2017_limit = nyc_311_2017_limit.drop(['Address Type', 'Facility Type', 'Park Borough', 'Vehicle Type', 'Bridge Highway Segment'], axis=1)

In [29]:
# preview data
nyc_311_2017_limit.head()

,Created Date,Agency,Complaint Type,Descriptor,Incident Zip,Borough
119,03/19/2017,NYPD,Blocked Driveway,No Access,11421,QUEENS
256,03/20/2017,NYPD,Blocked Driveway,No Access,11214,BROOKLYN
279,03/18/2017,NYPD,Illegal Parking,Double Parked Blocking Traffic,10035,MANHATTAN
362,03/18/2017,NYPD,Illegal Parking,Double Parked Blocking Traffic,11368,QUEENS
615,03/19/2017,NYPD,Illegal Parking,Double Parked Blocking Traffic,11103,QUEENS
657,03/18/2017,NYPD,Illegal Parking,Posted Parking Sign Violation,11205,BROOKLYN
663,03/19/2017,NYPD,Illegal Parking,Posted Parking Sign Violation,11205,BROOKLYN
1398,03/18/2017,NYPD,Illegal Parking,Posted Parking Sign Violation,10019,MANHATTAN
1401,03/19/2017,NYPD,Illegal Parking,Posted Parking Sign Violation,11217,BROOKLYN
1546,03/19/2017,DOHMH,Food Establishment,Toilet Facility,10011,MANHATTAN

In [33]:
# change 'incident zip' to 'zipcode' (for merge)
nyc_311_2017_limit = nyc_311_2017_limit.rename(columns={'Incident Zip': 'zipcode'})
nyc_311_2017_limit.head()

,Created Date,Agency,Complaint Type,Descriptor,zipcode,Borough
119,03/19/2017,NYPD,Blocked Driveway,No Access,11421,QUEENS
256,03/20/2017,NYPD,Blocked Driveway,No Access,11214,BROOKLYN
279,03/18/2017,NYPD,Illegal Parking,Double Parked Blocking Traffic,10035,MANHATTAN
362,03/18/2017,NYPD,Illegal Parking,Double Parked Blocking Traffic,11368,QUEENS
615,03/19/2017,NYPD,Illegal Parking,Double Parked Blocking Traffic,11103,QUEENS

In [30]:
# bring in PLUTO data to merge on zip code
# narrow out the non-city zip codes
# bring back in limted NYC PLUTO data
csv_path2 = "nyc_pluto_landuse.csv"
nyc_pluto_landuse = pd.read_csv(csv_path2, encoding="utf-8")

In [31]:
nyc_pluto_landuse.head()

,zipcode,borough,landuse_1.0,landuse_2.0,landuse_3.0,landuse_4.0,landuse_5.0,landuse_6.0,landuse_7.0,landuse_8.0,landuse_9.0,landuse_10.0,landuse_11.0,total_bldgarea
0,10001.0,MN,33606.0,592289.0,10683006.0,13652815.0,55368490.0,745317.0,1180126.0,10895555.0,1152624.0,600098.0,0.0,94903926.0
1,10002.0,MN,51117.0,1938379.0,16618352.0,17112671.0,3326020.0,382610.0,701202.0,4665712.0,104367.0,252263.0,0.0,45152693.0
2,10003.0,MN,511735.0,3786590.0,12746613.0,15967940.0,11929612.0,62853.0,3459.0,9623598.0,126552.0,159151.0,0.0,54918103.0
3,10004.0,MN,0.0,0.0,725023.0,5742198.0,21614904.0,0.0,462543.0,3722844.0,945425.0,280801.0,0.0,33493738.0
4,10005.0,MN,0.0,0.0,2480663.0,4624059.0,16668297.0,0.0,169425.0,66767.0,0.0,0.0,0.0,24009211.0

In [35]:
# merge
nyc_311_2017_limit = pd.merge(nyc_311_2017_limit, nyc_pluto_landuse, on='zipcode', how='inner')
nyc_311_2017_limit.head()

,Created Date,Agency,Complaint Type,Descriptor,zipcode,Borough,borough,landuse_1.0,landuse_2.0,landuse_3.0,landuse_4.0,landuse_5.0,landuse_6.0,landuse_7.0,landuse_8.0,landuse_9.0,landuse_10.0,landuse_11.0,total_bldgarea
0,03/19/2017,NYPD,Noise - Residential,Loud Talking,10023,MANHATTAN,MN,652042.0,3811309.0,20582357.0,26415162.0,3974104.0,0.0,0.0,4571429.0,58219.0,62555.0,0.0,60127177.0
1,03/18/2017,NYPD,Noise - Vehicle,Car/Truck Horn,10023,MANHATTAN,MN,652042.0,3811309.0,20582357.0,26415162.0,3974104.0,0.0,0.0,4571429.0,58219.0,62555.0,0.0,60127177.0
2,03/20/2017,NYPD,Noise - Street/Sidewalk,Loud Music/Party,10023,MANHATTAN,MN,652042.0,3811309.0,20582357.0,26415162.0,3974104.0,0.0,0.0,4571429.0,58219.0,62555.0,0.0,60127177.0
3,03/20/2017,DOT,Broken Muni Meter,Out of Order,10023,MANHATTAN,MN,652042.0,3811309.0,20582357.0,26415162.0,3974104.0,0.0,0.0,4571429.0,58219.0,62555.0,0.0,60127177.0
4,03/21/2017,NYPD,Noise - Residential,Banging/Pounding,10023,MANHATTAN,MN,652042.0,3811309.0,20582357.0,26415162.0,3974104.0,0.0,0.0,4571429.0,58219.0,62555.0,0.0,60127177.0

In [39]:
# check column names
nyc_311_2017_limit.columns

Index(['Created Date', 'Agency', 'Complaint Type', 'Descriptor', 'zipcode',
       'Borough', 'borough', 'landuse_1.0', 'landuse_2.0', 'landuse_3.0',
       'landuse_4.0', 'landuse_5.0', 'landuse_6.0', 'landuse_7.0',
       'landuse_8.0', 'landuse_9.0', 'landuse_10.0', 'landuse_11.0',
       'total_bldgarea'],
      dtype='object')

In [41]:
# remove excess columns
nyc_311_2017_limit = nyc_311_2017_limit.drop(['Borough', 'landuse_1.0', 'landuse_2.0','landuse_3.0','landuse_4.0','landuse_5.0','landuse_6.0','landuse_7.0','landuse_8.0','landuse_9.0','landuse_10.0','landuse_11.0','total_bldgarea'], axis=1)

In [42]:
# preview data
nyc_311_2017_limit.head()

,Created Date,Agency,Complaint Type,Descriptor,zipcode,borough
0,03/19/2017,NYPD,Noise - Residential,Loud Talking,10023,MN
1,03/18/2017,NYPD,Noise - Vehicle,Car/Truck Horn,10023,MN
2,03/20/2017,NYPD,Noise - Street/Sidewalk,Loud Music/Party,10023,MN
3,03/20/2017,DOT,Broken Muni Meter,Out of Order,10023,MN
4,03/21/2017,NYPD,Noise - Residential,Banging/Pounding,10023,MN

In [44]:
# number of rows
nyc_311_2017_limit.shape

(1909752, 6)

In [85]:
# unique values in 'Complaint Type'
nyc_311_2017_limit['Complaint Type'].nunique()

208

In [86]:
# remove values that appear only once
nyc_311_2017_min = nyc_311_2017_limit[nyc_311_2017_limit['Complaint Type'].isin(nyc_311_2017_limit['Complaint Type'].value_counts()[nyc_311_2017_limit['Complaint Type'].value_counts()>500].index)]
nyc_311_2017_min.head()

,Created Date,Agency,Complaint Type,Descriptor,zipcode,borough
0,03/19/2017,NYPD,Noise - Residential,Loud Talking,10023,MN
1,03/18/2017,NYPD,Noise - Vehicle,Car/Truck Horn,10023,MN
2,03/20/2017,NYPD,Noise - Street/Sidewalk,Loud Music/Party,10023,MN
3,03/20/2017,DOT,Broken Muni Meter,Out of Order,10023,MN
4,03/21/2017,NYPD,Noise - Residential,Banging/Pounding,10023,MN

In [87]:
# number of rows
nyc_311_2017_min.shape

(1901187, 6)

In [88]:
# unique values in 'Complaint Type'
nyc_311_2017_min['Complaint Type'].nunique()

120

In [90]:
# save as csv
nyc_311_2017_min.to_csv('nyc_311_2017_min.csv')